*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.singleCustomer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customerPhoto {
    padding: 3px;
    border-radius: 35% 65% 35%;
}

.customerName{
    padding: 3px;
}

.customerEmail{
    padding: 5px;
    color: grey;
}

.customerDob{
    padding-top: 6px;
}